@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Date"] = DateTime.Now.ToString();
}
<h1>@ViewData["Name"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h1>@ViewData["Date"]</h1>
